<div class="container">
  <div class="menu-wrap">
    <div class="menu-card">
      <h3 class="menu-card__title">麻婆豆腐</h3>
      <figure class="menu-card__figure">
        <img src="" alt="" class="menu-card__img" />
      </figure>
      <p class="menu-card__description">豆腐と挽肉をいためた辛いやつです。</p>
      <div class="menu-card__spiceness">
        甘口と辛口の二種類からお選びいただけます。
      </div>
      <div class="menu-card__review">
        <div class="menu-card__review-star">★★★★☆</div>
        <div class="menu-card__review-score">4.0</div>
      </div>
      <button mat-button routerLink="/menu/detail">もっと見る</button>
    </div>
  </div>
</div>
